<% provide(:title, "About") %>
	<title><%= yield (:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>About</h1
<p>
LifeInvader is the leading social media website to tell us how you really feel about the world (Like we care). 
It is filled with a cornucopia of your daily dose of baby mama drama, fuckboys and good for nothing niggas, 
really stupid people who swear they're "Woke", fake ass world travelers, fake ass fitness trainers, 
and losers from your old highschool who post wayyyyyyyyy too much information on their profile and now you wonder 
if your are a witness to a crime and have to call the cops to get them help and away from their abusive relationship.
</p>