<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you're on this page you're probably an adult who has no idea how social media websites work, so heres some advice.
  Don't just don't, nobody wants to add you as a friend, your own kids don't want to add you as a friend. You're better off
  making a fake profile if you want to spy on your kids.
</p>