<h1>Password reset</h1>

<p>To reset your password because you smoke too much weed and forgot it click the link below.....no not that low idiot, up a little:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p> This link will self destruct in two hours (no idiot not literally.</p>

<p>
If you aint request a password rest then somebody tryna hack ur shit bruh </p>
